In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf
import sqlite3

conn = sqlite3.connect('../HomelessData.db')
c = conn.cursor()

# Import our input dataset
df_2018 = pd.read_sql("SELECT * FROM CocData WHERE year = 2018", con = conn)

df_2018.head()

,Coc,Total,Emergency,Transitional,SafeHaven,RapidRehousing,PermanentSupportive,PermanentOther,Year,CocYear,Total:1,Unsheltered,Sheltered
0,AK-500,1028,749,279,0,125,604,71,2018,AK-500 2018,1094,94,1000
1,AK-501,912,649,263,0,90,344,0,2018,AK-501 2018,922,215,707
2,AL-500,911,569,308,34,191,1768,0,2018,AL-500 2018,901,219,682
3,AL-501,435,298,137,0,60,203,0,2018,AL-501 2018,551,233,318
4,AL-502,210,102,108,0,0,50,0,2018,AL-502 2018,256,22,234

In [2]:
df_2018=df_2018.drop(['Total:1', 'Sheltered', 'Total', 'CocYear', 'Coc', 'Year'], axis=1)

In [3]:
df_2018.head()

,Emergency,Transitional,SafeHaven,RapidRehousing,PermanentSupportive,PermanentOther,Unsheltered
0,749,279,0,125,604,71,94
1,649,263,0,90,344,0,215
2,569,308,34,191,1768,0,219
3,298,137,0,60,203,0,233
4,102,108,0,0,50,0,22

In [8]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Emergency            391 non-null    int64
 1   Transitional         391 non-null    int64
 2   SafeHaven            391 non-null    int64
 3   RapidRehousing       391 non-null    int64
 4   PermanentSupportive  391 non-null    int64
 5   PermanentOther       391 non-null    int64
 6   Unsheltered          391 non-null    int64
dtypes: int64(7)
memory usage: 21.5 KB

In [9]:
df_2018.describe()

,Emergency,Transitional,SafeHaven,RapidRehousing,PermanentSupportive,PermanentOther,Unsheltered
count,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000
mean,726.565217,256.278772,6.048593,277.053708,917.396419,94.005115,496.529412
std,3837.501189,423.917634,20.230979,458.457307,2131.329836,336.334525,2046.107412
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,136.000000,54.500000,0.000000,35.000000,143.000000,0.000000,38.500000
50%,255.000000,120.000000,0.000000,121.000000,367.000000,0.000000,107.000000
75%,564.000000,271.500000,0.000000,341.500000,889.500000,46.500000,384.000000
max,74543.000000,4393.000000,255.000000,5428.000000,29266.000000,3092.000000,37570.000000

In [13]:
# Remove homeless outcome target from features data
y = df_2018.Unsheltered.values
X = df_2018.drop(columns="Unsheltered").values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [14]:
# Preprocess numerical data for neural network

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
# Define the deep learning model 
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=16, activation="sigmoid", input_dim=6))
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
10/10 [==============================] - 0s 2ms/step - loss: -317.1951 - accuracy: 0.0068
Epoch 2/50
10/10 [==============================] - 0s 2ms/step - loss: -429.3182 - accuracy: 0.0068
Epoch 3/50
10/10 [==============================] - 0s 2ms/step - loss: -538.4257 - accuracy: 0.0068
Epoch 4/50
10/10 [==============================] - 0s 2ms/step - loss: -634.5901 - accuracy: 0.0068
Epoch 5/50
10/10 [==============================] - 0s 2ms/step - loss: -751.1976 - accuracy: 0.0068
Epoch 6/50
10/10 [==============================] - 0s 2ms/step - loss: -872.0621 - accuracy: 0.0068
Epoch 7/50
10/10 [==============================] - 0s 2ms/step - loss: -1019.0052 - accuracy: 0.0068
Epoch 8/50
10/10 [==============================] - 0s 2ms/step - loss: -1168.8391 - accuracy: 0.0068
Epoch 9/50
10/10 [==============================] - 0s 2ms/step - loss: -1378.1609 - accuracy: 0.0068
Epoch 10/50
10/10 [==============================] - 0s 2ms/step - loss: -1613.9857 - accuracy: 0.0068
Epoch 11/50
10/10 [==============================] - 0s 2ms/step - loss: -1842.2631 - accuracy: 0.0068
Epoch 12/50
10/10 [==============================] - 0s 2ms/step - loss: -2147.8689 - accuracy: 0.0068
Epoch 13/50
10/10 [==============================] - 0s 2ms/step - loss: -2402.2434 - accuracy: 0.0068
Epoch 14/50
10/10 [==============================] - 0s 2ms/step - loss: -2759.9619 - accuracy: 0.0068
Epoch 15/50
10/10 [==============================] - 0s 2ms/step - loss: -3142.2502 - accuracy: 0.0068
Epoch 16/50
10/10 [==============================] - 0s 2ms/step - loss: -3572.1636 - accuracy: 0.0068
Epoch 17/50
10/10 [==============================] - 0s 2ms/step - loss: -3995.6199 - accuracy: 0.0068
Epoch 18/50
10/10 [==============================] - 0s 2ms/step - loss: -4417.5493 - accuracy: 0.0068
Epoch 19/50
10/10 [==============================] - 0s 2ms/step - loss: -5052.7700 - accuracy: 0.0068
Epoch 20/50
10/10 [==============================] - 0s 2ms/step - loss: -5581.5171 - accuracy: 0.0068
Epoch 21/50
10/10 [==============================] - 0s 2ms/step - loss: -6203.4673 - accuracy: 0.0068
Epoch 22/50
10/10 [==============================] - 0s 2ms/step - loss: -6759.5908 - accuracy: 0.0068
Epoch 23/50
10/10 [==============================] - 0s 2ms/step - loss: -7384.6289 - accuracy: 0.0068
Epoch 24/50
10/10 [==============================] - 0s 2ms/step - loss: -8031.7808 - accuracy: 0.0068
Epoch 25/50
10/10 [==============================] - 0s 2ms/step - loss: -8631.4902 - accuracy: 0.0068
Epoch 26/50
10/10 [==============================] - 0s 2ms/step - loss: -9277.6221 - accuracy: 0.0068
Epoch 27/50
10/10 [==============================] - 0s 2ms/step - loss: -9963.7764 - accuracy: 0.0068
Epoch 28/50
10/10 [==============================] - 0s 2ms/step - loss: -10756.9395 - accuracy: 0.0068
Epoch 29/50
10/10 [==============================] - 0s 2ms/step - loss: -11564.5508 - accuracy: 0.0068
Epoch 30/50
10/10 [==============================] - 0s 2ms/step - loss: -12342.8252 - accuracy: 0.0068
Epoch 31/50
10/10 [==============================] - 0s 2ms/step - loss: -13094.2441 - accuracy: 0.0068
Epoch 32/50
10/10 [==============================] - 0s 2ms/step - loss: -14094.1338 - accuracy: 0.0068
Epoch 33/50
10/10 [==============================] - 0s 2ms/step - loss: -15065.5527 - accuracy: 0.0068
Epoch 34/50
10/10 [==============================] - 0s 2ms/step - loss: -15983.5371 - accuracy: 0.0068
Epoch 35/50
10/10 [==============================] - 0s 2ms/step - loss: -17213.1152 - accuracy: 0.0068
Epoch 36/50
10/10 [==============================] - 0s 2ms/step - loss: -18488.2734 - accuracy: 0.0068
Epoch 37/50
10/10 [==============================] - 0s 2ms/step - loss: -19695.8047 - accuracy: 0.0068
Epoch 38/50
10/10 [==============================] - 0s 2ms/step - loss: -20851.8125 - accuracy: 0.0068
Epoch 39/50
10/10 [==============================] - 0s 2ms/step - loss: -22358.8164 - accuracy: 0.0068
Epoch 40/50
10/10 [==============================] - 0s 2ms/step - loss: -23676.9922 - accuracy: 0.0068
Epoch 41/50
10/10 [==============================] - 0s 2ms/step - loss: -24795.8887 - accuracy: 0.0068
Epoch 42/50
10/10 [==============================] - 0s 2ms/step - loss: -26336.6406 - accuracy: 0.0068
Epoch 43/50
10/10 [==============================] - 0s 2ms/step - loss: -27491.1016 - accuracy: 0.0068
Epoch 44/50
10/10 [==============================] - 0s 2ms/step - loss: -28934.6426 - accuracy: 0.0068
Epoch 45/50
10/10 [==============================] - 0s 2ms/step - loss: -30302.3145 - accuracy: 0.0068
Epoch 46/50
10/10 [==============================] - 0s 2ms/step - loss: -31967.3828 - accuracy: 0.0068
Epoch 47/50
10/10 [==============================] - 0s 2ms/step - loss: -33447.4141 - accuracy: 0.0068
Epoch 48/50
10/10 [==============================] - 0s 2ms/step - loss: -35036.4453 - accuracy: 0.0068
Epoch 49/50
10/10 [==============================] - 0s 2ms/step - loss: -36390.8516 - accuracy: 0.0068
Epoch 50/50
10/10 [==============================] - 0s 2ms/step - loss: -38010.6016 - accuracy: 0.0068
4/4 - 0s - loss: -2.2031e+04 - accuracy: 0.0000e+00 - 117ms/epoch - 29ms/step
Loss: -22030.677734375, Accuracy: 0.0