In [1]:
import pandas as pd
import sqlite3

In [2]:
# Create Database Connection
conn = sqlite3.connect('../HomelessData.db')
c = conn.cursor()

In [3]:
# Create HIC dataframe and database
for sheet in ["2018","2019"] : 
    hic_df = pd.read_excel("../resources/2007-2020-HIC-Counts-by-CoC.xlsx",sheet,skiprows=[0],skipfooter=1)
    
    # Adjust Column
    hic_df.rename(columns = {'CoC Number' : 'Coc','Total Year-Round Beds (ES, TH, SH)' : 'Total','Total Year-Round Beds (ES)' : 'Emergency','Total Year-Round Beds (TH)' : 'Transitional','Total Year-Round Beds (SH)' : 'SafeHaven','Total Year-Round Beds (RRH)' : 'RapidRehousing','Total Year-Round Beds (PSH)' : 'PermanentSupportive','Total Year-Round Beds (OPH)' : 'PermanentOther'},inplace=True)
    hic_df = hic_df[["Coc", "Total", "Emergency", "Transitional", "SafeHaven", "RapidRehousing", "PermanentSupportive", "PermanentOther"]]
    hic_df["Year"] = sheet
    
    # Insert Into DB
    hic_df.to_sql("shelterAvalibility",con=conn,if_exists = 'append',index=False)

In [4]:
# Create PIT and CityData dataframe and database
for sheet in ["2018","2019"] : 
    pit_df = pd.read_excel("../resources/2007-2020-PIT-Estimates-by-CoC.xlsx",sheet,skipfooter=3)
    
    #Create CityData Database
    pit_df[["CoC Number","CoC Name"]].to_sql("CityData",con=conn,if_exists = "replace")
    
    # Rename pit_df columns
    pit_df.rename(columns = {'CoC Number' : 'Coc',f'Overall Homeless, {sheet}' : "Total",f'Unsheltered Homeless, {sheet}' : "Unsheltered"},inplace=True)
    pit_df["Sheltered"] = pit_df["Total"]-pit_df["Unsheltered"]
    pit_df = pit_df[['Coc','Total','Unsheltered','Sheltered']]
    pit_df["Year"] = sheet
    
    # Create HomelessData table
    pit_df.to_sql("HomelessCounts",con=conn,if_exists='append',index=False)

C:\Users\Jonat\anaconda3\lib\site-packages\pandas\core\generic.py:2779: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [5]:
# Create The

        Coc  Total  Unsheltered  Sheltered  Year
0    AK-500   1111           97       1014  2019
1    AK-501    796          176        620  2019
2    AL-500    981          326        655  2019
3    AL-501    505          202        303  2019
4    AL-502    390          201        189  2019
..      ...    ...          ...        ...   ...
386  WV-500    136            9        127  2019
387  WV-501    171           49        122  2019
388  WV-503    293            2        291  2019
389  WV-508    797          188        609  2019
390  WY-500    548          125        423  2019

[391 rows x 5 columns]